<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gravity Associates</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link src="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.static/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class = "jumbotron">
        <h1>Gravity Associates Service Offerings</h1>
    </div>
    <div>
        <h2>Comprehensive Capital Adequacy Reporting (CCAR) Service Offerings</h2>
        <p>The complex and ever increasing CCAR requirements and expectations of the bank regulators forces CCAR efforts to the forefront on many financial services institutions priority lists due to MRA’s, MRIA’s or worse failure of consent to an institution’s Capital Plan.  Understanding the direction of peer banks in this regulatory environment is critical to stay with the pack and therefore ahead of the regulators expectations.  Gravity Associates provides services supporting:</p>
        <ul>
            <li>Data acquisition for FR Y-14 M&Q reporting</li>
            <li>Data acquisition for Credit Loss, PPNR and Balance Sheet Modeling</li>
            <li>Basel 239 Risk Data Aggregation governance, reporting and validation</li>
            <li>Capital Plan aggregation, challenge and documentation processes and tools</li>
            <li>Acquisition readiness and integration</li>
        </ul>
    </div>

</body>

</html>







